# Local SQLite data is stored automatically in apps/web/data/loopin.sqlite
AUTH_SECRET="replace-with-a-random-secret"
NEXTAUTH_URL="http://127.0.0.1:3000"
NEXT_PUBLIC_AUTH_GOOGLE_ENABLED="false"
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
